.incrementalCounter {
  background-color: green;
  color: white;
  padding: 32px;

  .content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 32px;

    input {
      text-align: center;
      width: 64px;
    }
  }
}
