.incrementalCounter {
  background-color: var(--color-green-dark);
  color: white;
  padding: var(--space-big);

  .content {
    max-width: 960px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .controls {
    display: flex;
    gap: var(--space-small);

    input {
      text-align: center;
      width: 64px;
      height: 44px;
      border-radius: var(--border-radius);
      border: none;
    }
  }
}
