.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small);
  background-color: var(--color-green);
  color: white;

  .links {
    display: flex;
    gap: var(--space-medium);
  }

  .link {
    background-color: white;
    text-decoration: none;
    color: green;
    border-radius: borderRadius;
    padding: 8px;
  }
}
