.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-small);
  background-color: var(--color-green);
  color: white;
  font-family: var(--font-family);

  .links {
    display: flex;
    gap: var(--space-medium);
  }

  .link {
    background-color: white;
    text-decoration: none;
    color: var(--color-green-dark);
    border-radius: var(--border-radius);
    padding: var(--space-small);
  }
}
