/* Mobile */
.mobile {
  background-color: pink;
  color: maroon;

  img {
    max-width: 100%;
    height: auto;
  }

  .badge {
    width: 160px;
  }
}

.desktop {
  display: none;
}

/* Desktop */
@media (min-width: 1280px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
    background-color: aliceblue;
    color: navy;
  }
}
